<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/musicc.css')}}">
    <title>Document</title>
</head>
<body>
    <div class="profil">
        <div class="elipesprofil"></div>
    </div>
    <div class="topbar">
        <div class="musicbar"><img  src="static\Images\musiciconsvg.png" class="musicicon"></div>
        <div class="videobar"><img  src="static\Images\tvsvg.png" class="videoicon"></div>
        <div class="shopbar"><img src="static\Images\shopsvg.png" class="shopicon"></div>
        <div class="moneybar"><img src="static\Images\moneysvg.png" class="moneyicon"></div>
        <div class="chatbar"><img src="static\Images\chatsvg.png" class="chaticon"></div></div>
    </div>
    <div class="star1"></div>
    <div class="estar1"></div>
    <div class="star2"></div>
    <div class="estar2"></div>
    <div class="estar3"></div>
    <div class="star3"></div>
    <div class="estar4"></div>
    <div class="star4"></div>
    <div class="estar5"></div>
    <div class="star5"></div>
    <div class="estar6"></div>
    <div class="star6"></div>
    <div class="estar7"></div>
    <div class="star7"></div>
    <div class="estar8"></div>
    <div class="star8"></div>
    <div class="estar9"></div>
    <div class="star9"></div>
    <div class="estar10"></div>
    <div class="star10"></div>
    <div class="estar11"></div>
    <div class="star11"></div>
    <div class="estar12"></div>
    <div class="star12"></div>
    <div class="estar13"></div>
    <div class="star13"></div>
    <div class="estar14"></div>
    <div class="star14"></div>
    <div class="scrollbody">
        <div class="slidebar1"></div>
 
        <div class="cards">
        <div class="slidebar2"></div>
    </div>

    <div class="recommendation">
        {%for song in recommended_song_ids%}
            <form method="post" id="{{recommended_song_ids.index(song)}}">
                <input type="submit" id="{{recommended_song_ids.index(song)}}" value="{{recommended_song_ids.index(song)}}"></input>
            </form>
            <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
        
        <script type="text/javascript">
        $(document).on('submit','#{{recommended_song_ids.index(song)}}',function(e)
                     {
        //console.log($("#todo"),val());
        e.preventDefault();
        var $index = e.target.id;
        $.ajax({
          type:'POST',
          url:'/playsong',
          data:{
            todo: $index
          },
          success:function()
          {
            //alert('saved');
          }
        })
        });
        </script>
    </div> 
    {%endfor%}

    <script  src="static\JS\vanilla-tilt.js"></script>

</body>
</html>